.container{
  text-align: center;
  padding: 50px;
  background-color: rgb(225, 214, 255);
  min-height: 100vh;
}
.container.dark{
  background-color: black;
  color: white;
}
.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 6px;
}
.off-btn{
  background-color: rgb(59, 70, 77);
  color: white;
}
.on-btn{
  background-color: rgb(59, 70, 77);
  color: white;
}


.btn:hover {
  background-color: rgb(200, 200, 300);
  color: black;

}
.btn:active{
  background-color: rgb(59, 70, 77);
}